<div class="container my-5">
    <div class="jumbotron">
        <h1>Information</h1>
        <br>
        <ul>
            <li>
                <p>Argumentos de entrada: {{args}}</p>
            </li>
            <li>
                <p>Nombre de la plataforma: {{name}}</p>
            </li>
            <li>
                <p>Version de Node.js: {{node}}</p>
            </li>
            <li>
                <p>Memoria total reservada: {{memory}} </p>
            </li>
            <li>
                <p>Path de ejecucion: {{path}}</p>
            </li>
            <li>
                <p>Process Id: {{processId}}</p>
            </li>
            <li>
                <p>Carpeta del proyecto: {{folder}}</p>
            </li>
            <li>
                <p>Number of CPU's: {{cpus}}</p>
            </li>
        </ul>
        <hr>
        <div class="text-left">
        <button class="btn btn-success my-3" onclick="location.href = '/'">Volver</button>
        </div>
    </div>
</div>